@model TestApplicationForCentralBank.Models.EmployeeAndPositionListModel

<form asp-action="AddNewAbsenceReport" asp-controller="Home" asp-antiforgery="true">
    <p>Введите данные</p>
    <select asp-for="EmployeeId" asp-items="Model.Employees"></select>
    <select asp-for="EmployeePositionId" asp-items="Model.Positions"></select>
    <input type="date" name="DateAbsence" placeholder="Дата отсутствия" />
    <input type="time" name="TimeAbsence" required placeholder="Время отсутствия" />
    <input type="text" name="Reason" required placeholder="Причина отсутствия" />

    <br />
    <button type="submit"> Добавить </button>
    <br />
    </form>
