@using (Html.BeginForm("AddNewEmploee", "Home", FormMethod.Post))
{
    <p>Введите ФИО сотрудника</p>
    <input type="text" name="fio" required placeholder="ФИО" />

    <br />
    <button type="submit"> Добавить </button>
    <br />
}
