@using (Html.BeginForm("AddNewPosition", "Home", FormMethod.Post))
{
    <p>Введите должность</p>
    <input type="text" name="position" required placeholder="ФИО" />

    <br />
    <button type="submit"> Добавить </button>
    <br />
}
